Repository DaemonEngine/Daemon, pull requests merged in 2021-04, with the labels that each got.

#440 renderer: enable GL clear by default
  src/engine/renderer/tr_init.cpp
Labels: A-Renderer

#441 make r_fastsky cvar an archive one
  src/engine/renderer/tr_init.cpp
Labels: A-Renderer, T-Enhancement

#444 cmake: download deps with https
  CMakeLists.txt
Labels: A-Build, T-Enhancement

#453 renderer: tiled renderer is r_dynamicLight > 0, see be7229a
  src/engine/renderer/tr_shade.cpp
Labels: A-Renderer, T-Bug

#451 restore mover content flag like ioq3/tremulous, avoid collision with nobuild content flag
  src/engine/qcommon/SurfaceFlags.h
Labels: A-Renderer, T-Regression

#459 Renderer: never cull 1st-person IQM models
  src/engine/renderer/tr_model_iqm.cpp
Labels: A-Renderer, T-Bug
