Repository DaemonEngine/Daemon, pull requests merged in 2022-08, with the labels that each got.

#683 tr_shader: some missing switch cases for collapsed PBR stages
  src/engine/renderer/tr_shade.cpp
Labels: T-Bug, A-Renderer

#684 tr_shader: do not multiply standalone lightmap by rgbGen unless it's const, fix #677
  src/engine/renderer/tr_shade.cpp
Labels: T-Bug, T-Regression, A-Renderer

#693 tr_shader: update comment about standalone lightmap blending
  src/engine/renderer/tr_shade.cpp
Labels: A-Renderer, T-Cleanup

#690 tr_bsp: drop fatLightmap support, fix #689, #327, #687, #688
  src/engine/renderer/tr_bsp.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_shade.cpp
Labels: T-Bug, A-Renderer

#685 tr_shade: correct line ending
  src/engine/renderer/tr_shade.cpp
Labels: A-Renderer, T-Cleanup

#696 cg_api: Remove RmlUi defines from the engine
  src/engine/client/cg_api.h
Labels: T-Cleanup
