Repository DaemonEngine/Daemon, pull requests merged in 2023-01, with the labels that each got.

#773 renderer: drop unused `r_ext_multisample` and `r_alphabits` cvars
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_local.h
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer, T-Missing

#780 tr_model: Fix typo when reading md3 models
  src/engine/renderer/tr_model.cpp
Labels: S-Blocking

#738 sdl_glimp: flag the s3tc GL extension as required
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer

#779 allow depth shader name to be longer than MAX_QPATH, fix #2370
  src/engine/renderer/tr_shader.cpp
Labels: T-Bug, A-Renderer

#756 external_deps: factorize platform definition and other things
  external_deps/build.sh
Labels: A-Build
