Repository DaemonEngine/Daemon, pull requests merged in 2024-10, with the labels that each got.

#1326 sdl_glimp: rename `r_ext_half_float_pixel` as `r_arb_half_float_pixel`
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer

#1330 tr_shader: transmit `RSF_FITSCREEN` and `RSF_NOMIP` flag from gamecode to shaders
  src/engine/renderer/tr_shader.cpp
Labels: A-Renderer

#1241 Improve shader logging
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/gl_shader.h
Labels: T-Improvement, A-Renderer, A-Logging

#1329 sdl_glimp: add r_arb_framebuffer_object cvar
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer

#1351 Fix light ID computation
  src/engine/renderer/glsl_source/computeLight_fp.glsl
  src/engine/renderer/glsl_source/lighttile_fp.glsl
Labels: T-Bug, A-Renderer

#1346 glsl: fix specular mapping with forward lighting
  src/engine/renderer/glsl_source/computeLight_fp.glsl
  src/engine/renderer/glsl_source/forwardLighting_fp.glsl
Labels: A-Renderer

#1362 Fix R_ListImages_f() image size
  src/engine/renderer/tr_image.cpp
Labels: T-Bug, A-Renderer

#1361 Fix R_CreateImage() crash with r_logFile
  src/engine/renderer/tr_image.cpp
Labels: T-Bug, A-Renderer

#1397 Fix incorrect texture bind in RB_RenderGlobalFog()
  src/engine/renderer/tr_backend.cpp
Labels: T-Regression, A-Renderer

#1398 Fix vertex-lit surfaces with material system
  src/engine/renderer/Material.cpp
Labels: T-Bug, A-Renderer

#1280 system: use getrandom() and fallback on urandom if syscall doesn't work
  src/common/System.cpp
Labels: T-Question
