Repository DaemonEngine/Daemon, pull requests merged in 2024-06, with the labels that each got.

#852 cg_api: implement `trap_R_BatchInPVS` to test if a bunch of entities are in PVS in one call
  src/engine/client/cg_api.h
  src/engine/client/cg_msgdef.h
  src/engine/client/cl_cgame.cpp
  src/shared/client/cg_api.cpp
Labels: T-Improvement, T-Performance

#1177 renderer: remove the `USE_ALPHA_TESTING` macro and build less shader permutations
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/gl_shader.h
  src/engine/renderer/glsl_source/generic_fp.glsl
  src/engine/renderer/glsl_source/skybox_fp.glsl
  src/engine/renderer/tr_backend.cpp
  src/engine/renderer/tr_shade.cpp
  src/engine/renderer/tr_sky.cpp
Labels: A-Renderer, T-Cleanup

#1173 renderer: use `GL_DEPTH_CLAMP` only if `GL_ARB_depth_clamp` is available
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_public.h
  src/engine/renderer/tr_shade.cpp
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer

#1182 renderer: rewrite the GLSL extension enablement
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/glsl_source/computeLight_fp.glsl
  src/engine/renderer/glsl_source/debugShadowMap_fp.glsl
  src/engine/renderer/glsl_source/forwardLighting_fp.glsl
  src/engine/renderer/glsl_source/lighttile_fp.glsl
  src/engine/renderer/glsl_source/shadowFill_fp.glsl
  src/engine/renderer/tr_public.h
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer

#1189 Remove unused code/variables from renderer asset loading
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_model_iqm.cpp
  src/engine/renderer/tr_model_md3.cpp
  src/engine/renderer/tr_model_skel.cpp
  src/engine/renderer/tr_vbo.cpp
Labels: T-Cleanup

#1190 q_shared: delete unused IS_NAN
  src/engine/qcommon/q_shared.h
Labels: T-Cleanup

#1198 cmake: empty string is not missing token (2)
  cmake/DaemonFlags.cmake
Labels: A-Build

#1101 tr_shade: do not use reflective specular code on PBR material
  src/engine/renderer/tr_shade.cpp
Labels: T-Bug, A-Renderer

#1206 renderer: port GL extension cvars to new style format
  src/engine/renderer/tr_image.cpp
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_public.h
  src/engine/sys/sdl_glimp.cpp
Labels: T-Improvement, A-Renderer
