Repository DaemonEngine/Daemon, pull requests merged in 2024-09, with the labels that each got.

#1277 Clear portalStack on MaterialSystem::Free()
  src/engine/renderer/Material.cpp
Labels: T-Bug, A-Renderer

#1276 Fix moving portal surfaces, cleanup portal code a bit
  src/engine/renderer/tr_main.cpp
Labels: T-Bug, T-Improvement, A-Renderer, T-Cleanup

#1234 renderer: make r_dynamicLight only enable the related renderer, not a kind of light
  src/engine/renderer/Material.cpp
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/glsl_source/computeLight_fp.glsl
  src/engine/renderer/glsl_source/lightMapping_fp.glsl
  src/engine/renderer/tr_backend.cpp
  src/engine/renderer/tr_fbo.cpp
  src/engine/renderer/tr_image.cpp
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_main.cpp
  src/engine/renderer/tr_public.h
  src/engine/renderer/tr_scene.cpp
  src/engine/renderer/tr_shade.cpp
  src/engine/renderer/tr_shader.cpp
  src/engine/renderer/tr_vbo.cpp
Labels: T-Improvement, A-Renderer

#1272 Add sv_novis to disable server PVS checks
  src/engine/server/sv_snapshot.cpp
Labels: T-Improvement, A-Server

#1235 renderer: detect if hardware cannot blend RGBA16 framebuffers
  src/engine/renderer/tr_image.cpp
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_public.h
  src/engine/sys/sdl_glimp.cpp
Labels: T-Improvement, A-Renderer

#1270 Mutualize SetLightDeluxeMode, SetLightMap, and SetDeluxeMap
  src/engine/renderer/Material.cpp
  src/engine/renderer/ShadeCommon.h
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_shade.cpp
Labels: T-Improvement, A-Renderer

#1288 Fix compile error
  src/engine/renderer/Material.cpp
Labels: T-Bug, A-Renderer

#1286 tr_bsp: do not load deluxe maps if deluxe mapping was disabled because of hardware being incompatible
  src/engine/renderer/tr_bsp.cpp
Labels: T-Bug, T-Regression, A-Renderer

#1203 tr_shader: factorize stage checking and move the code to a dedicated function
  src/engine/renderer/tr_shader.cpp
Labels: T-Improvement, A-Renderer

#1293 renderer: cancel overbright on opaque decal
  src/engine/renderer/Material.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_shade.cpp
  src/engine/renderer/tr_shader.cpp
Labels: T-Bug, A-Renderer

#1300 Fix shader compilation error
  src/engine/renderer/glsl_source/lightMapping_fp.glsl
Labels: T-Bug, A-Renderer

#1303 Fix material system PVS lock
  src/engine/renderer/Material.cpp
  src/engine/renderer/Material.h
Labels: T-Bug, A-Renderer

#1308 tr_init: set default r_reliefDepthScale to 0.02 like DarkPlaces
  src/engine/renderer/tr_init.cpp
Labels: A-Renderer

#1292 tr_shade: factorise GLSL header generation more
  src/engine/renderer/gl_shader.cpp
Labels: T-Improvement, A-Renderer

#1316 Fix fog image
  src/engine/renderer/tr_image.cpp
Labels: T-Bug, A-Renderer

#1314 computeLight_fp: fix compilation when r_highPrecisionRendering is disabled
  src/engine/renderer/glsl_source/computeLight_fp.glsl
  src/engine/renderer/glsl_source/lightMapping_fp.glsl
Labels: T-Bug, A-Renderer

#1242 renderer: detect OpenGL hardware and driver vendor
  src.cmake
  src/engine/renderer/DetectGLVendors.cpp
  src/engine/renderer/DetectGLVendors.h
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_public.h
  src/engine/sys/sdl_glimp.cpp
Labels: T-Improvement, A-Renderer

#1320 cmake: add USE_EXTERNAL_DEPS option to prevent the download of external_deps packages at build time
  CMakeLists.txt
Labels: A-Build
