Repository DaemonEngine/Daemon, pull requests merged in 2024-11, with the labels that each got.

#1357 Don't do dynamic light computations if there are no dynamic lights
  src/engine/renderer/glsl_source/computeLight_fp.glsl
  src/engine/renderer/tr_backend.cpp
Labels: A-Renderer, T-Performance

#1394 tr_image: do not use R_FindImageLoader with cube maps, test multifile cubemaps first (or preview may be loaded as cubemap instead)
  src/engine/renderer/tr_bsp.cpp
  src/engine/renderer/tr_image.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_shader.cpp
Labels: T-Regression, A-Renderer

#1317 Make some uniforms global
  src/engine/renderer/Material.cpp
  src/engine/renderer/Material.h
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/gl_shader.h
  src/engine/renderer/glsl_source/material_fp.glsl
Labels: T-Improvement, A-Renderer, T-Performance

#1411 Fix compile error
  src/engine/renderer/Material.cpp
Labels: T-Regression, A-Renderer

#1377 Fix liquid shader compile error
  src/engine/renderer/Material.cpp
  src/engine/renderer/ShadeCommon.h
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/gl_shader.h
  src/engine/renderer/glsl_source/liquid_fp.glsl
  src/engine/renderer/tr_shade.cpp
Labels: T-Bug, A-Renderer

#1428 NUKE unused IPC calls
  src/engine/client/cg_msgdef.h
  src/engine/client/cl_cgame.cpp
  src/engine/qcommon/cmd.cpp
  src/engine/qcommon/qcommon.h
  src/shared/client/cg_api.cpp
  src/shared/client/cg_api.h
Labels: T-Cleanup, A-Client

#1432 external_deps: fix CFLAGS typo
  external_deps/build.sh
Labels: A-Build

#1426 tr_shader: skip standalone lightmaps, they are assumed to be buggy
  src/engine/renderer/tr_shader.cpp
Labels: A-Renderer

#1443 Fix specular with material system
  src/engine/renderer/Material.cpp
Labels: T-Bug, A-Renderer

#1444 Fix portals with r_smp 1
  src/engine/renderer/tr_bsp.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_main.cpp
  src/engine/renderer/tr_world.cpp
Labels: T-Bug, T-Improvement, A-Renderer, T-Cleanup, T-Performance
