Repository DaemonEngine/Daemon, pull requests merged in 2024-08, with the labels that each got.

#1222 Properly reset glState
  src/engine/renderer/tr_init.cpp
Labels: T-Bug, A-Renderer

#1229 renderer: query tex indirections and ALU instructions when possible
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/tr_backend.cpp
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_public.h
  src/engine/renderer/tr_shade.cpp
  src/engine/renderer/tr_shader.cpp
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer, T-Feature-Request

#1180 Material system: Implement GPU occlusion culling
  src.cmake
  src/engine/renderer/Material.cpp
  src/engine/renderer/Material.h
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/gl_shader.h
  src/engine/renderer/glsl_source/cull_cp.glsl
  src/engine/renderer/glsl_source/depthReduction_cp.glsl
  src/engine/renderer/glsl_source/lightMapping_fp.glsl
  src/engine/renderer/glsl_source/processSurfaces_cp.glsl
  src/engine/renderer/shaders.cpp
  src/engine/renderer/tr_backend.cpp
  src/engine/renderer/tr_image.cpp
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_main.cpp
  src/engine/renderer/tr_public.h
  src/engine/renderer/tr_shade.cpp
  src/engine/renderer/tr_vbo.cpp
  src/engine/sys/sdl_glimp.cpp
Labels: T-Improvement, A-Renderer

#1255 Remove unused u_ProjectionMatrixTranspose
  src/engine/renderer/glsl_source/generic_vp.glsl
Labels: T-Improvement, A-Renderer

#1204 Material System: Make depth pre-pass surfaces into stages of the main surface
  src/engine/renderer/Material.cpp
  src/engine/renderer/Material.h
  src/engine/renderer/gl_shader.h
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_main.cpp
  src/engine/renderer/tr_shader.cpp
Labels: T-Improvement, A-Renderer

#1265 Some improvements to r_glDebugProfile/r_glDebugMode
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_local.h
  src/engine/sys/sdl_glimp.cpp
Labels: T-Improvement, A-Renderer

#1252 Add r_glslCache to toggle GLSL binary caching
  src/engine/renderer/gl_shader.cpp
Labels: T-Improvement, A-Renderer

#1267 Fix stage sync
  src/engine/renderer/Material.cpp
  src/engine/renderer/Material.h
Labels: T-Regression, A-Renderer
