Repository DaemonEngine/Daemon, pull requests merged in 2025-02, with the labels that each got.

#1536 tr_image: fix loading dds/ prefixed .dds images
  src/engine/renderer/tr_image.cpp
Labels: T-Bug, T-Regression, A-Renderer

#1537 cmake: add USE_FAST_MATH to enable or disable fast math
  cmake/DaemonFlags.cmake
Labels: A-Build

#1507 Fix glsl_restart with material system
  src/engine/renderer/Material.cpp
  src/engine/renderer/Material.h
  src/engine/renderer/tr_init.cpp
Labels: T-Bug, A-Renderer

#1417 Multiply with var_Color in lightMapping after u_AlphaThreshold check
  src/engine/renderer/glsl_source/generic_fp.glsl
Labels: T-Bug, A-Renderer

#1546 Fix shader parse error with `\r` new-lines
  src/engine/qcommon/q_shared.cpp
Labels: T-Bug, A-Renderer

#1548 Fix alpha = 1 colorMod
  src/engine/renderer/glsl_source/common.glsl
Labels: T-Bug, A-Renderer

#1469 tr_model_iqm: detect and rewrite NaN in IQM model
  src/engine/renderer/tr_model_iqm.cpp
Labels: T-Bug, A-Renderer, T-Feature-Request

#1558 Workaround for atomic ops on AMD
  src/engine/renderer/gl_shader.cpp
Labels: T-Improvement, A-Renderer, GPU-AMD

#1562 Fix a crash with r_noportals
  src/engine/renderer/tr_shade.cpp
Labels: T-Bug, A-Renderer
