Repository DaemonEngine/Daemon, pull requests merged in 2025-03, with the labels that each got.

#1538 Fix texture scroll, optimise texture matrix operations a bit
  src/engine/renderer/tr_shade_calc.cpp
Labels: T-Bug, A-Renderer, T-Performance

#1564 NUKE unused refractionMap/dispersionMap
  src.cmake
  src/engine/renderer/glsl_source/dispersion_C_fp.glsl
  src/engine/renderer/glsl_source/dispersion_C_vp.glsl
  src/engine/renderer/glsl_source/refraction_C_fp.glsl
  src/engine/renderer/glsl_source/refraction_C_vp.glsl
  src/engine/renderer/shaders.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_shader.cpp
Labels: A-Renderer, T-Cleanup

#1578 renderer: NUKE some dead code
  src/engine/renderer/glsl_source/fogQuake3_vp.glsl
Labels: A-Renderer

#1576 renderer: disable ARB_shader_draw_parameters on GLSL 1.20
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer

#1588 Fix UI being affected by subgroup profiler
  src/engine/renderer/tr_shade.cpp
Labels: T-Bug, A-Renderer

#1595 renderer: disable EXT_gpu_shader4 on GLSL 1.20
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer

#1577 renderer: rework tone mapper and SSAO enablement
  src/engine/renderer/glsl_source/cameraEffects_fp.glsl
  src/engine/renderer/tr_backend.cpp
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_public.h
  src/engine/renderer/tr_shade.cpp
Labels: A-Renderer

#1594 Fix --help output not appearing through a pipe
  src/engine/framework/System.cpp
Labels: T-Bug, A-UI

#1601 Fix tonemapping enablement regression
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/glsl_source/cameraEffects_fp.glsl
Labels: T-Bug, A-Renderer

#1609 framework: sort the output of the `listCvars` command
  src/engine/framework/CvarSystem.cpp
Labels: T-Improvement, A-UI

#1621 cmake/DaemonGame: do not reset BUILD_GAME_NACL in cmake subproject
  cmake/DaemonGame.cmake
Labels: A-Build

#1633 NUKE unused vertexHash_t
  src/engine/renderer/tr_local.h
Labels: T-Cleanup
