Repository DaemonEngine/Daemon, pull requests merged in 2025-09, with the labels that each got.

#1780 Add more material system debug commands
  src/engine/renderer/Material.cpp
  src/engine/renderer/Material.h
Labels: A-Renderer, T-Feature-Request

#1786 crypto: only include gmp.h on MSVC to disable the warning, add a comment explaining why
  src/engine/qcommon/crypto.h
Labels: T-Cleanup

#1789 Some Quality of Life changes for `external_deps/build.sh`
  external_deps/build.sh
Labels: T-Improvement

#1796 tr_shader: linearize fog colors
  src/engine/renderer/tr_bsp.cpp
Labels: T-Bug, A-Renderer

#1781 Mark lightMappingMaterial shaders for building correctly
  src/engine/renderer/Material.cpp
Labels: T-Improvement, A-Renderer

#1802 cmake: add STRIP_SOURCE_PATHS=OFF to fix GDB stacktrace and Linux profiles like Orbit
  cmake/DaemonFlags.cmake
Labels: T-Bug, T-Regression, A-Build
