Repository DaemonEngine/Daemon, pull requests merged in 2025-08, with the labels that each got.

#1725 Remove bindless_image layout declaration from compute header
  src/engine/renderer/gl_shader.cpp
Labels: T-Bug, A-Renderer

#1744 Don't log bad uvs for white/black lightmaps
  src/engine/renderer/tr_bsp.cpp
Labels: A-Renderer, T-Cleanup, A-Logging

#1750 Fix log spam due to bad autosprite configuration
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_surface.cpp
Labels: A-Renderer, A-Logging, T-Performance

#1737 tr_shader: do not load heatHaze map when heatHaze is disabled
  src/engine/renderer/tr_shader.cpp
Labels: T-Improvement, A-Renderer

#1719 Add some support for C++17-23
  src/common/CPPStandard.h
  src/common/math/Vector.h
Labels: T-Bug, A-Build, T-Feature-Request, S-Backported-From-Daemon-Vulkan

#1764 Split glconfig_t/glconfig2_t into WindowConfig/GLConfig (engine only)
  src/engine/client/cl_avi.cpp
  src/engine/client/cl_cgame.cpp
  src/engine/client/cl_console.cpp
  src/engine/client/cl_main.cpp
  src/engine/client/cl_scrn.cpp
  src/engine/client/client.h
  src/engine/null/null_renderer.cpp
  src/engine/renderer/GLMemory.h
  src/engine/renderer/GLUtils.h
  src/engine/renderer/InternalImage.cpp
  src/engine/renderer/Material.cpp
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/gl_shader.h
  src/engine/renderer/tr_animation.cpp
  src/engine/renderer/tr_backend.cpp
  src/engine/renderer/tr_bsp.cpp
  src/engine/renderer/tr_cmds.cpp
  src/engine/renderer/tr_fbo.cpp
  src/engine/renderer/tr_image.cpp
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_main.cpp
  src/engine/renderer/tr_model.cpp
  src/engine/renderer/tr_model_iqm.cpp
  src/engine/renderer/tr_model_skel.cpp
  src/engine/renderer/tr_public.h
  src/engine/renderer/tr_scene.cpp
  src/engine/renderer/tr_shade.cpp
  src/engine/renderer/tr_shader.cpp
  src/engine/renderer/tr_surface.cpp
  src/engine/renderer/tr_vbo.cpp
  src/engine/sys/sdl_glimp.cpp
Labels: A-Renderer, T-Cleanup, A-Client

#1753 NUKE glconfig_t, use WindowConfig instead
  src/engine/client/cg_msgdef.h
  src/engine/client/cl_cgame.cpp
  src/engine/renderer/tr_public.h
  src/engine/renderer/tr_types.h
Labels: A-Renderer, T-Cleanup, A-Client

#1769 Clean-up unused glConfig
  src/engine/client/client.h
Labels: A-Renderer, T-Cleanup

#1747 Fix badly architectured audio file reads
  src/engine/audio/ALObjects.cpp
  src/engine/audio/Audio.cpp
  src/engine/audio/AudioData.h
  src/engine/audio/OggCodec.cpp
  src/engine/audio/OpusCodec.cpp
  src/engine/audio/Sample.cpp
  src/engine/audio/WavCodec.cpp
Labels: A-Audio, T-Performance
