Repository DaemonEngine/Daemon, pull requests merged in 2025-01, with the labels that each got.

#1483 Merge generic2D shader into generic
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/gl_shader.h
  src/engine/renderer/tr_shade.cpp
Labels: A-Renderer, T-Cleanup

#1477 Don't set global uniforms in UpdateSurfaceData*
  src/engine/renderer/Material.cpp
  src/engine/renderer/gl_shader.h
Labels: A-Renderer, T-Cleanup

#1468 cmake: remove a warning about scope
  CMakeLists.txt
  cmake/DaemonGame.cmake
Labels: T-Cleanup

#1487 FIx unnecessary generic shader permutations
  src/engine/renderer/gl_shader.cpp
  src/engine/renderer/gl_shader.h
  src/engine/renderer/glsl_source/shaderProfiler_fp.glsl
  src/engine/renderer/glsl_source/shaderProfiler_vp.glsl
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_shade.cpp
Labels: T-Regression, A-Renderer

#1492 Fix out of order shader log messages
  src/engine/renderer/gl_shader.cpp
Labels: T-Bug, A-Renderer

#1478 Add r_materialSystemSkip
  src/engine/renderer/Material.cpp
  src/engine/renderer/tr_backend.cpp
  src/engine/renderer/tr_init.cpp
  src/engine/renderer/tr_local.h
  src/engine/renderer/tr_main.cpp
Labels: T-Improvement, A-Renderer

#1495 NUKE unused currentState
  src/engine/renderer/tr_local.h
Labels: A-Renderer, T-Cleanup

#1512 NUKE unused geometricRenderTargets
  src/engine/renderer/tr_local.h
Labels: A-Renderer, T-Cleanup

#1513 Fix backEnd.currentVAO
  src/engine/renderer/tr_init.cpp
Labels: T-Bug, A-Renderer

#1516 cmake: build Saigo arm nexe with -O0 to avoid a bug
  cmake/DaemonFlags.cmake
Labels: A-Build, A-Compiler

#1532 q_math: do tracing in id Software/J.M.P. van Waveren's QuatFromMatrix() implementation like Martin John Baker's one did, fix model distortion with GCC 14
  src/engine/qcommon/q_math.cpp
Labels: T-Bug, Compiler-GCC

#1531 Use dGPU if both dGPU and iGPU are available on Windows
  src/engine/renderer/tr_init.cpp
Labels: T-Improvement, A-Renderer
